@import "tailwindcss";

@theme {
  --color-tertiary: #775841;
  --color-surface-container-high: #eae8e7;
  --color-on-secondary: #ffffff;
  --color-on-error-container: #93000a;
  --color-surface-container: #f0eded;
  --color-surface-variant: #e4e2e1;
  --color-secondary-fixed: #ffd8e6;
  --color-secondary: #904568;
  --color-inverse-on-surface: #f3f0f0;
  --color-on-secondary-fixed: #3d0123;
  --color-on-secondary-fixed-variant: #742e50;
  --color-tertiary-container: #ffddc7;
  --color-surface-container-highest: #e4e2e1;
  --color-inverse-surface: #303030;
  --color-tertiary-fixed: #ffdcc5;
  --color-on-tertiary-container: #7f5e47;
  --color-on-tertiary: #ffffff;
  --color-surface-tint: #006b5c;
  --color-secondary-fixed-dim: #ffb0d0;
  --color-on-surface-variant: #3d4946;
  --color-inverse-primary: #6fd8c3;
  --color-on-tertiary-fixed: #2c1605;
  --color-primary: #006b5c;
  --color-primary-fixed: #8cf5df;
  --color-primary-fixed-dim: #6fd8c3;
  --color-secondary-container: #ffa3ca;
  --color-surface-container-lowest: #ffffff;
  --color-error: #ba1a1a;
  --color-surface-bright: #fbf9f8;
  --color-on-primary-fixed: #00201b;
  --color-on-tertiary-fixed-variant: #5d412b;
  --color-outline-variant: #bcc9c5;
  --color-outline: #6d7a76;
  --color-background: #fbf9f8;
  --color-on-surface: #1b1c1c;
  --color-on-primary: #ffffff;
  --color-on-secondary-container: #7b3456;
  --color-surface-dim: #dcd9d9;
  --color-primary-container: #8df6e0;
  --color-error-container: #ffdad6;
  --color-surface-container-low: #f6f3f2;
  --color-tertiary-fixed-dim: #e8bea2;
  --color-surface: #fbf9f8;
  --color-on-primary-container: #007263;
  --color-on-background: #1b1c1c;
  --color-on-primary-fixed-variant: #005045;
  --color-on-error: #ffffff;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Inter", sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .glow-gradient {
    background: linear-gradient(135deg, #006b5c 0%, #8df6e0 100%);
  }
  .ambient-shadow {
    box-shadow: 0 20px 40px rgba(54, 54, 54, 0.06);
  }
  .editorial-shadow {
    box-shadow: 0 20px 40px rgba(54, 54, 54, 0.06);
  }
}

html {
  scroll-behavior: smooth;
}
